body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 80px;
  width: 40%;
  margin: 0 auto;
  padding-top: 60px;
  font-family: 'Sacramento', serif;
  color: #DFD3C3;
}

h2 {
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #C7B198;
}

h3 {
  font-family: 'Montserrat', serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #F0ECE2 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #39464d;
  font-family: 'Montserrat', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #c2cdd2;
}

.btn {
  background: #F0ECE2;
  background-image: -webkit-linear-gradient(top, #F0ECE2, #C7B198);
  background-image: -moz-linear-gradient(top, #F0ECE2, #C7B198);
  background-image: -ms-linear-gradient(top, #F0ECE2, #C7B198);
  background-image: -o-linear-gradient(top, #F0ECE2, #C7B198);
  background-image: linear-gradient(to bottom, #F0ECE2, #C7B198);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F0ECE2;
  background-image: -webkit-linear-gradient(top, #F0ECE2, #596E79);
  background-image: -moz-linear-gradient(top, #F0ECE2, #596E79);
  background-image: -ms-linear-gradient(top, #F0ECE2, #596E79);
  background-image: -o-linear-gradient(top, #F0ECE2, #596E79);
  background-image: linear-gradient(to bottom, #F0ECE2, #596E79);
  text-decoration: none;
}

.skipper-heading {
  margin: 10px auto 70px auto;
}

.me-img {
  width: 20%;
}

.compass-img {
  width: 20%;
  float: left;
  margin-right: 20px;
}

.hello-text, .hello-title {
  margin-bottom: 100px;
}

.spyglass-img {
  width: 20%;
  float: right;
  margin-left: 20px;
}

.top-container {
  background-color: #F0ECE2;
  position: relative;
}

.hello-text {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  top: 5px;
  left: 27%;
}

.bottom-cloud {
  position: absolute;
  right: 27%;
}

.skill-row {
  width: 50%;
  height: 200px;
  margin: 150px auto;
  text-align: left;
}

.middle-container {
  padding-top: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #596E79;
  margin-top: 50px;
  padding: 20px 0 16px;
}

.copyright {
  color: #c2cdd2;
  font-size: 0.75rem;
  padding-top: 20px;
}
